@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face { 
    font-family: "antonio"; 
    src: url("/src/assets/fonts/Antonio.ttf"); 
}
@font-face { 
    font-family: "spartan"; 
    src: url("/src/assets/fonts/Spartan.ttf"); 
}